<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Products</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body class="container py-4">

	<%- include('../partials/header') %>

	<h1 class="mb-3">Products</h1>

	<form class="d-inline ms-3" method="GET" action="/products">
          <input type="text" name="search" class="form-control form-control-sm d-inline w-auto" placeholder="Tìm sản phẩm...">
          <button type="submit" class="btn btn-sm btn-light">Tìm</button>
    </form>
		<br>
		<br>
	<a href="/products/new" class="btn btn-primary mb-3">+ Add Product</a>

	<table class="table table-striped table-bordered">
		<thead class="table-dark">
			<tr>
				<th>Name</th>
				<th>Supplier</th>
				<th>Price</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% if (products && products.length > 0) { %>
				<% products.forEach(p => { %>
					<tr>
						<td><%= p.name %></td>
						<td><%= p.supplier ? p.supplier.name : 'Unknown' %></td>
						<td><%= p.price %></td>
						<td>
							<a href="/products/<%= p._id %>/edit" class="btn btn-sm btn-warning">Edit</a>
							<form action="/products/<%= p._id %>?_method=DELETE" method="POST" class="d-inline">
								<button class="btn btn-sm btn-danger">Delete</button>
							</form>
						</td>
					</tr>
				<% }) %>
			<% } else { %>
				<tr>
					<td colspan="4" class="text-center text-danger">Không tìm thấy</td>
				</tr>
			<% } %>
		</tbody>
	</table>

	<%- include('../partials/footer') %>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>